<header>

	<h1>{{ site.title }}</h1>

</header>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% assign pages = (site.pages | sort: 'navbarpos') %}
				{% for sitepage in pages %}
					{% if sitepage.navbarpos %}
						<li
							{% if sitepage.title == page.title %}
								 class="active"
							{% endif %}
						><a href="{{ sitepage.url }}">{{ sitepage.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>