<header>

	<h1>{{ site.title }}</h1>

</header>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<i class="navbar-brand fa fa-graduation-cap" aria-hidden="true"></i>

	<div class="collapse navbar-collapse" id="navbar-nav">
		<ul class="navbar-nav mr-auto no-style">
			{% assign pages = (site.pages | sort: 'navbarpos') %}
			{% for sitepage in pages %}
				{% if sitepage.navbarpos %}
					<li class="nav-item{% if sitepage.path == page.path %} active{% endif %}"><a class="nav-link" href="{{ sitepage.url }}">{{ sitepage.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		
		<ul class="navbar-nav no-style">
			{% include search_menu.html %}
		</ul>
	</div>
</nav>