---
layout: default
title: "Index des cours"
excerpt: "Retrouvez ici tous les cours disponibles sur Bacomathiques."
css: ['/assets/css/lessons-index.css']
js: [
	'https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.min.js',
	'/assets/js/lessons-index.js'
]
navbarpos: 2
---

<h1>Liste des cours</h1>

{% assign pages = site.pages | sort: 'chapter' %}
<div class="lessons-row row">
{% for page in pages %}
	{% if page.lesson %}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading"><span>{{ page.title }}</span></div>
					<div class="panel-body">
						<div class="panel-image">
							{% assign id = page.path | replace: 'cours/', '' | replace: '.html', '' %}
							<span class="preview" data-src="/assets/img/previews/{{ id }}.jpg"></span>
							<span class="overlay"></span>
							<span class="caption">{{ site.data.captions[id].content }}</span>
						</div>
						<p>{{ page.excerpt }}</p>
					</div>
					<div class="panel-footer clearfix">
						<a href="{{ page.url }}">Lien vers ce cours</a>
					</div>
				</div>
			</div>
	{% endif %}
{% endfor %}
</div>

<p>Les cours disponibles sont sous licence <a href="/about.html#licence" rel="license">{{ site.content_license.name }}</a>.</p>