@font-face {
    font-family: 'Futura Md BT';
    src: url('FuturaBT-Medium.eot');
    src: url('FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaBT-Medium.woff2') format('woff2'),
        url('FuturaBT-Medium.woff') format('woff'),
        url('FuturaBT-Medium.ttf') format('truetype'),
        url('FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

