<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
        },
        options: {
            ignoreHtmlClass: 'tex2jax_ignore|proof',
            renderActions: {
                addMenu: [0, '', '']
            },
        },
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3.1.2/es5/tex-chtml.js" integrity="sha256-+nfSJ1LiSvANSK3wvi6FjM+oFwoIQvURU1frozp5z6o=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/assets/css/maths.css">
