<!-- OpenGraph -->
<meta property="og:type" content="website">
<meta property="og:title" content="{{ include.title }}">
<meta property="og:locale" content="fr_FR" />
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ include.description }}">
<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.social.preview }}{% endif %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ include.title }}">
<meta name="twitter:site" content="{{ site.social.twitter }}">
<meta name="twitter:creator" content="{{ site.social.twitter }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:description" content="{{ include.description }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.social.preview }}">