{% assign data = site.data.e3c[include.e3c] %}
<div class="modal-e3c-item row">
    <h3 class="col-12 modal-e3c-item-id text-center mb-4">{{ data.id }}</h3>
    <div class="col-12">
        <a href="{{ data.subject }}" class="d-block w-100 btn btn-green col-12">Voir le sujet</a>
    </div>
    {% assign correctionsCount = data.corrections | size %}
    {% if correctionsCount == 1 %}
        {% assign colMd = 12 %}
    {% else %}
        {% assign colMd = 6 %}
    {% endif %}
    {% for correction in data.corrections %}
        <div class="col-xs-12 col-md-{{ colMd }} mt-3 mr-auto ml-auto">
            {% assign parts = correction | split: "://" %}
            {% assign parts = parts[1] | split: "/" %}
            {% assign parts = parts[0] | split: "www." %}
            <a href="{{ correction }}" class="d-block w-100 btn btn-blue">
                Correction par
                <br>{% if parts[1] %}{{ parts[1] }}{% else %}{{ parts[0] }}{% endif %}
            </a>
        </div>
    {% endfor %}
</div>
