<!-- Smartbanner -->
<script src="https://cdn.jsdelivr.net/npm/smartbanner.js@1.16.0/dist/smartbanner.min.js" integrity="sha256-aCoX8LVnOXb8GvTIxUsJQbtLj3xGdF9Woz+Mx62kosw=" crossorigin="anonymous"></script>

<!-- Maths -->
{% include _includes/foot/maths.html %}

<!-- Autres -->
<script src="https://cdn.jsdelivr.net/npm/tocbot@4.11.2/dist/tocbot.min.js" integrity="sha256-CfQUUe5nCr0s8VaB1dPISX25JmwUHVRabMji+YUFUS4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/anchor-js@4.2.2/anchor.min.js" integrity="sha256-E4RlfxwyJVmkkk0szw7LYJxuPlp6evtPSBDlWHsYYL8=" crossorigin="anonymous"></script>
{% if page.summary != true %}
    <script src="/assets/js/forms/comment.js"></script>
{% endif %}
<script src="/assets/js/lesson.js"></script>

<!-- FundingChoices -->
<script src="/assets/js/funding_choices.js"></script>