{% include pages/lesson/modals.html %}

<div id="lesson-top-level" class="container-fluid mb-5">
    <div class="row">
        <article id="page-content" class="col-lg-9 col-12">
            {{ content }}
        </article>
        <div class="position-relative col-lg-3 d-lg-block d-none pl-0 pr-0">
            <nav id="lesson-navigation"></nav>
        </div>
    </div>
</div>

{% if page.summary != true %}
    <div class="pt-5 pb-5">
        {% capture commentForm %}
            {% include pages/lesson/comment/form.html %}
        {% endcapture %}
        {% include _includes/components/cards/big_card.html content=commentForm blue=true %}
    </div>

    <div class="pt-5 pb-5">
        {% include pages/lesson/comment/list.html %}
    </div>
{% endif %}