---
layout: simple
title: "Accueil"
navbarpos: 1
fa: "fa-home"
css: ["/assets/css/devices.min.css", "/assets/css/index.css"]
---

<section class="container">

	<h3><span class="first-letter">L</span>es contenus</h3>
	
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<figure>
				<i class="fa fa-check-circle fa-5x"></i>
			
				<figcaption>Des cours en accord avec le programme de <strong>Terminale S</strong>.</figcaption>
			</figure>
		</div>
		<div class="col-md-4 col-xs-12 middle">
			<figure>
				<i class="fa fa-book fa-5x"></i>
			
				<figcaption>
					Des exemples intuitifs et la possibilité de <strong>télécharger</strong>
					et <strong>imprimer les cours</strong> gratuitement pour les relire chez soi !
				</figcaption>
			</figure>
		</div>
		<div class="col-md-4 col-xs-12">
			<figure>
				<i class="fa fa-laptop fa-5x"></i>
			
				<figcaption>Le plus important : <strong>tout est gratuit</strong>. Même pas besoin de compte, tout est à disposition de tout le monde !</figcaption>
			</figure>
		</div>
	</div>
	
	<p><em>Également des <strong>annales des précédents sujets du BAC</strong> de mathématiques à télécharger (avec leur correction), et bientôt
	des vidéos explicatives du cours avec des exemples visuels !</em></p>
	
	<p class="stand-out">Et bien plus !</p>

</section>

<section>
	<div class="container">
		<h3>Qu'attendez-vous ?</h3>
		
		<div class="row">
			<div class="col-md-12 col-lg-6 d-flex align-items-center text-center text-md-left">
				<div class="w-100">
					<p>Vous êtes intéressé par des <strong>cours de mathématiques gratuits</strong> en ligne, accessibles à tout moment ?
					Accédez dès maintenant à <a href="/cours/">l'index des cours</a> !
					Vous y retrouverez la liste des cours disponibles sur le site ainsi qu'une brève description et une image d'illustration.</p>
			
					<p class="stand-out">Nous vous souhaitons une bonne visite !</p>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 d-none d-md-block">
				<div class="quote-container">
					<i class="pin"></i>
					<blockquote class="note">
						<h4>Liste des cours</h4>
						<ul>
							{% assign pages = site.pages | sort: 'chapter' %}
							{% for lesson in pages %}
								{% if lesson.layout == 'lesson' %}
									<li><a href="{{ lesson.url }}">{{ lesson.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="mobile" class="container">
	<h3>Application Mobile</h3>
	
	<div class="row">
		<div class="col-md-12 col-lg-6 d-none d-lg-block">
			<div class="marvel-device s5 white">
				<div class="top-bar"></div>
				<div class="sleep"></div>
				<div class="camera"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<div class="screen"></div>
				<div class="home"></div>
			</div>
		</div>
		
		<div class="col-md-12 col-lg-6 d-flex align-items-center text-center text-md-left">
			<div class="w-100">
				<p><strong>{{ site.title }}</strong> possède une application mobile !
				Vous pouvez dès à présent la télécharger et accéder à tous vos cours directement depuis <strong>votre smartphone</strong>.</p>
				
				<p>Pour la télécharger, rien de plus simple ! Accédez au <strong>Play Store</strong> de Google et tapez <q>Bacomathiques</q>.
				<br/>Vous pouvez également cliquer sur le bouton ci-dessous :</p>
				
				<div class="text-center">
					<a href="https://play.google.com/store/apps/details?id=fr.bacomathiques&utm_source=bacomathiqu.es&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img src="https://play.google.com/intl/en_us/badges/images/generic/fr_badge_web_generic.png" title="Disponible sur Google Play" alt="Disponible sur Google Play"/></a>
				</div>
			</div>
		</div>
		
		<div class="col-md-12 col-lg-6 d-none d-lg-none d-md-block">
			<div class="marvel-device s5 white">
				<div class="top-bar"></div>
				<div class="sleep"></div>
				<div class="camera"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<div class="screen"></div>
				<div class="home"></div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h3>À propos de {{ site.title }}</h3>
		<p><strong>Par qui</strong> a été crée ce site web ?
		Sous <strong>quelle licence</strong> sont disponibles les contenus ?
		<strong>Quelles sont les technologies</strong> utilisées pour concevoir le site web ?</p>

		<p>Toutes les réponses à ces questions sont disponibles dans la page <a href="/a-propos/"><q>À propos</q></a>.</p>
		
		<i class="fa fa-question-circle" aria-hidden="true"></i>
	</div>
</section>