---
layout: simple
title: "Accueil"
navbarpos: 1
css: [
	"https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css",
	"/assets/css/index.css"
]
---

<div class="col-md-12 first">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<section id="main-section">
					
				<h3>Bienvenue sur {{ site.title }} !</h3>
				<p><q>Bac-o-math-iques</q> (ou plus simplement {{ site.title }}) est un petit site web qui contient tout ce que vous avez besoin pour réussir
				votre BAC de mathématiques en toute tranquillité !</p>
				
				<p>Veuillez noter que le site WEB vient juste d'ouvrir, et que de nouveaux contenus seront rajoutés,
				en particulier les vidéos YouTube qui arrivent très bientôt !</p>
				
				<img class="black-logo-image" src="assets/img/logo.svg" alt="Bacomathiques"/>
						
			</section>
		</div>
				
		<div class="col-md-6 col-xs-12">
			<section id="menu-lessons" class="panel panel-default">
			
				<div class="panel-heading"><h3><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Liste des cours</h3></div>
				<div class="panel-body">
					<ul>
						{% assign pages = site.pages | sort: 'chapter' %}
						{% for page in pages %}
							{% if page.lesson %}
								<li><a href="{{ page.url }}">{{ page.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				
			</section>
		</div>
	</div>
</div>

<div class="col-md-12">
	<section>

		<h3>Les contenus</h3>
		
		<div id="row-contents" class="row">
			<div class="col-md-4 col-xs-12">
				<figure>
					<img src="assets/img/index/approved.svg" class="hvr-pulse" alt="Approuvé"/>
				
					<figcaption>Des cours en accord avec le programme de Terminale S.</figcaption>
				</figure>
			</div>
			<div class="col-md-4 col-xs-12 middle">
				<figure>
					<img src="assets/img/index/book.svg" class="hvr-pulse" alt="Livre"/>
				
					<figcaption>Des exemples intuitifs et la possibilité de télécharger et imprimer les cours gratuitement pour les relire chez soi !</figcaption>
				</figure>
			</div>
			<div class="col-md-4 col-xs-12">
				<figure>
					<img src="assets/img/index/laptop.svg" class="hvr-pulse" alt="Ordinateur"/>
				
					<figcaption>Le plus important : tout est gratuit. Même pas besoin de compte, tout est à disposition de tout le monde !</figcaption>
				</figure>
			</div>
		</div>
		
		<p><em>Également des annales des précédents sujets du BAC de mathématiques à télécharger (avec leur correction), et bientôt
		des vidéos explicatives du cours avec des exemples visuels !</em></p>
		
		<p><strong>Et bien plus !</strong></p>

	</section>
</div>

<div class="col-md-12">
	<section>

		<h3>Alors pourquoi attendre ?</h3>
		<p>Accédez dès maintenant à <a href="/cours/">l'index des cours</a> !</p>

	</section>
</div>

<div class="col-md-12">
	<section class="row">
		
		<div class="col-md-10 col-xs-12">
			<h3>Chaîne YouTube</h3>
			<p><a href="https://www.youtube.com/channel/UCmSSf75fsn1e6wOTV9R1Y9Q">{{ site.title }} est sur YouTube !</a>
			Chaque cours disponible sur le site sera également disponible en version vidéo sur YouTube.</p>
			
			<!--
			<div class="video-responsive">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/NTf1WAi2mig?showinfo=0" allowfullscreen></iframe>
				</div>
			</div>
			-->
			
			<p><em>Veuillez noter que la chaîne YouTube n'a pas encore de date d'ouverture.
			En effet, tourner des vidéos prends beaucoup plus de temps que d'écrire un cours; les vidéos seront ainsi ajoutées une fois que tous les cours seront écrits.</em></p>
		</div>
		<div class="col-md-2 col-xs-12">
		
			<img src="assets/img/index/youtube.svg" class="article-image youtube-image hvr-buzz-out" alt="YouTube"/>
		
		</div>

	</section>
</div>

<div class="col-md-12">
	<section class="row">
	
		<div class="col-md-2 hidden-sm hidden-xs">
		
			<img src="assets/img/index/interrogation.svg" class="article-image interrogation-image hvr-buzz-out" alt="À propos"/>
		
		</div>
		<div class="col-md-10 col-xs-12">
			<h3>À propos de {{ site.title }}</h3>
			<p>Par qui a été crée ce site web ? Sous quelle licence sont disponibles les contenus ? Quelles sont les technologies utilisées pour concevoir le site web ?</p>
			
			<p>Toutes les réponses à ces questions sont disponibles dans la page <a href="/about.html"><q>À propos</q></a>.</p>
		</div>
		<div class="col-xs-12 hidden-md hidden-lg">
		
			<img src="assets/img/index/interrogation.svg" class="article-image interrogation-image hvr-buzz-out" alt="À propos"/>
		
		</div>

	</section>
</div>