---
layout: default
title: "Index des cours"
permalink: "/cours/"
excerpt: "Retrouvez ici la liste des cours ainsi qu'une brève description et une petite illustration."
css: ['/assets/css/lessons-index.css']
js: [
	'https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js',
	'https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js',
	'/assets/js/lessons-index.js'
]
navbarpos: 2
fa: "fa-bookmark"
adsense: true
---

<article>

	<h1>Liste des cours</h1>

	<div class="lessons-row row">
		{% for data in site.data.lessons %}
			{% assign lesson = data[1] %}
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="card">
					<div class="card-header d-flex align-items-center{% if lesson.title contains '(Spécialité)' %} specialty{% endif %}">
						<h2 class="w-100">{{ lesson.title }}</h2>
					</div>
					<div class="card-img">
						<span class="preview" data-src="/assets/img/lessons/{{ lesson.id }}/preview.jpg"></span>
						<span class="overlay"></span>
						<span class="caption">{{ lesson.caption }}</span>
					</div>
					<div class="card-body">
						<p class="card-text">{{ lesson.excerpt }}</p>
					</div>
					<div class="card-footer">
						<a href="{{ lesson.id | replace: '_', '-' }}"><i class="fa fa-share" aria-hidden="true"></i> Lien vers ce cours</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
	<ins class="adsbygoogle" data-ad-client="ca-pub-7167241518798106" data-ad-slot="2776038870" data-ad-format="auto"></ins>

	<p id="footer" class="text-muted">
		Les cours sont disponibles sous licence <a href="/about.html#licence" rel="license">{{ site.content_license.name }}</a>.
		<br/>Généré le {{ site.time | date: "%d/%m/%Y" }} à {{ site.time | date: "%H:%M:%S" }}{% if site.github.build_revision %} | Révision {{ site.github.build_revision }}{% else %}.{% endif %}
	</p>

</article>