---
layout: default
title: "Résultats de la recherche"
css:
  - "assets/css/search.css"
js:
  - "https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.min.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"
  - "/assets/js/search.js"
sitemap: false
adsense: true
---

<article>

	<h1>Résultats de la recherche</h1>
	<p>Votre recherche <strong><span id="keywords"></span></strong> a retourné <strong><span id="numbers">0</span></strong> résultat(s).</p>
	
	<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
	<span class="sr-only">Loading...</span>

	<div class="row" style="display: none;"></div>
	
	<ins class="adsbygoogle" data-ad-client="ca-pub-7167241518798106" data-ad-slot="2776038870" data-ad-format="auto"></ins>

</article>

<script type='text/javascript'>
	var pages = {
		{% for data in site.data.lessons %}
			{% assign lesson = data[1] %}
			{% capture lessonContent %}{% include {{ lesson.path }} %}{% endcapture %}
			{% assign parts = lessonContent | split: "---" %}
			{% assign lessonContent = parts[2] %}
			'{{ lesson.id }}': {
				title: "{{ lesson.title | xml_escape }}",
				excerpt: "{{ lesson.excerpt | strip_html }}",
				content: "{{ lessonContent | strip_html | xml_escape | strip_newlines | truncatewords: 20 | textilize }}",
				url: "cours/{{ lesson.id | replace: '_', '-' | xml_escape }}/"
			},
		{% endfor %}
		'index-des-cours-html': {
			title: 'Index des cours',
			excerpt: 'Index des cours disponibles sur {{ site.title }}.',
			content: 'Retrouvez ici la liste des cours ainsi qu\'une brève description et une petite illustration.',
			url: '/cours/'
		}
	};
</script>