{% include _includes/navbar/navbar.html %}

<header class="d-flex align-items-center">
	<div class="w-100">
		<h1>{{ site.title }}</h1>
		<p class="container">
			<q>Bac-o-math-iques</q> (ou plus simplement <strong>{{ site.title }}</strong>) est un petit site web
			qui contient tout ce dont vous avez besoin pour réviser vos maths en toute tranquilité de la Première à la Terminale !
			Que vous cherchiez à passer votre BAC ou que vous souhaitiez simplement réviser votre cours : tout est possible et tout est gratuit.
		</p>
		<a href="/cours/" class="btn btn-outline-light btn-lg" role="button"><i class="fa fa-book" aria-hidden="true"></i> Accéder à la liste des cours</a>
	</div>
</header>
<hr class="triangle-rule"/>