<nav id="navbar" class="navbar navbar-toggleable-md navbar-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<ul class="navbar-content no-style">
		<li class="navbar-content-brand"><a class="navbar-brand" href="/">{{ site.title }}</a></li>
		
		<li>
			<div class="collapse navbar-collapse" id="navbar-nav">
				<ul class="navbar-nav mr-auto no-style">
					{% assign pages = (site.pages | sort: 'navbarpos') %}
					{% for sitepage in pages %}
						{% if sitepage.navbarpos %}
							<li class="nav-item{% if sitepage.path == page.path %} active{% endif %}">
								<a class="nav-link" href="{{ sitepage.url }}"><i class="fa {{ sitepage.fa }}" aria-hidden="true"></i> {{ sitepage.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<ul class="navbar-nav no-style">
					{% include lessons_menu.html %}
				</ul>
			</div>
		</li>
	</ul>
</nav>