<div id="annals" class="bubble clearfix">
	<h2>Annales en rapport avec le sujet</h2>
	<ul>
		{% for annal in lesson.annals %}
			{% assign parts = annal | split: "/" %}
			
			{% assign year = parts[0] %}
			{% capture id %}{{ parts[1] }}/{{ parts[2] }}{% endcapture %}
			
			{% assign data = site.data.annals[year][id] %}
			
			<li><strong>{{ data.name }} {% if data.specific %}Spécifique{% else %}Spécialité{% endif %} {{ year }}</strong> [<a href="/assets/pdf/annales/{{ annal }}/enonce.pdf">Énoncé</a>] [<a href="/assets/pdf/annales/{{ annal }}/correction.pdf">Corrigé</a>]</li>
		{% endfor %}
	</ul>
	<p>Sujets et corrigés fournis par <a href="https://maths-france.fr/Terminale/TerminaleS/ProblemesBac/index.php" target="_blank">Math France</a>.</p>
</div>