<div id="book" class="bubble">
	<div class="col-xs-12 col-md-9 d-flex align-items-center">
		<div>
			<p>
				Vous souhaitez avoir tous les cours en version papier, pour réviser tranquillement dans votre lit ou au coin de la cheminée ?
				<a href="https://www.amazon.fr/dp/1653121246">Achetez le livre physique dès maintenant !</a>
			</p>
			<p class="mb-0">
				Si vous le souhaitez, <a href="https://www.amazon.fr/dp/B0839GL6D1">un e-book est également disponible</a>.
			</p>
		</div>
	</div>
	<div class="d-none d-md-block col-md-3">
		<a href="https://www.amazon.fr/dp/1653121246">
			<img src="/assets/img/lessons/book-front-cover.png" alt="Couverture du livre">
		</a>
	</div>
</div>