<div class="comment row">
	<div class="col-2 col-md-1">
		<a href="#commentaire-{{ comment._id }}">
			<img class="avatar" src="{% if site.comments.moderators contains comment.author %}{{ site.comments.moderators[comment.author] }}{% else %}https://api.adorable.io/avatars/64/{{ comment.author }}.png{% endif %}" title="{{ comment.author }}" alt="{{ comment.author }}"/>
		</a>
	</div>
	<div class="col-10 col-md-11">
		<div class="content clearfix">
			{% assign date_english = comment.date | date: "%-d/%m/%Y" %}
			{% include _includes/date_french.html %}
			
			<h3 id="commentaire-{{ comment._id }}" class="author">{{ comment.author }} {% if site.comments.moderators contains comment.author %}(Modérateur){% endif %}</h3>
			<p class="message">{{ comment.message | xml_escape }}</p>

			<small class="date text-muted float-right">{{ date_french }} {{ comment.date | date: "%H:%M" }}</small>
		</div>
	</div>
</div>