<div class="text-right no-print">
	<ul id="export" class="no-style">
		<li id="export-summary" title="Fiche résumée"></li>
		<li id="export-pdf" title="Exporter en PDF" data-pdf="{{ '/assets/pdf/cours/' | append: lesson.level | append: '/' | append: lesson.title | replace: '–', '-' | replace: 'É', 'E' | replace: 'é', 'e' | replace: 'ô', 'o' | append: '.pdf' }}"></li>
		<li id="export-print" title="Imprimer"></li>
		<li id="export-social" title="Partager" data-toggle="modal" data-target="#modal-social"></li>
		<li id="export-caveats" title="Apporter une correction" data-toggle="modal" data-target="#modal-caveats"></li>
	</ul>
	{% assign level = site.data.levels[lesson.level] %}
	<span id="level" data-level="{{ lesson.level }}" class="text-muted">Niveau : <img src="{{ level.image }}" alt="{{ level.name }}" title="{{ level.name }}"> {{ level.name }}</span>
	<span id="difficulty" class="text-muted">Difficulté du cours : {% for i in (1..5) %}<i class="fa fa-graduation-cap{% if i <= lesson.difficulty %} difficulty-{{ lesson.difficulty }}{% endif %}" aria-hidden="true"></i>{% endfor %}</span>
</div>

{% include _includes/lesson/modal/summary.html %}
{% include _includes/lesson/modal/social.html %}
{% include _includes/lesson/modal/caveats.html %}