---
---

#contact-form {
  .text-muted {
    color: rgba(white, 0.8) !important;

    a {
      color: white !important;
      text-decoration-color: rgba(white, 0.8) !important;
    }
  }
}

.grecaptcha-badge {
  display: none;
}