<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% if page.maths %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/function-plot/1.18.1/function-plot.js"></script>
	
	<script src="/assets/js/maths.js"></script>
{% endif %}

{% if page.layout == 'lesson' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.5.1/jQuery.print.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/is-in-viewport/3.0.4/isInViewport.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
		
	<script src="/assets/js/lesson.js"></script>
	
	<script>
		let isSummaryLoaded = false;
		
		$('#export-summary').click(function() {
			$('#modal-summary').modal();
			if(!isSummaryLoaded) {
				$('#modal-summary .modal-body').html('<em>Chargement du résumé en cours...</em>');			
				let id = '{{ page.path | replace: 'lessons/', '' | replace: '.html', '' }}';
				$.get('../../api/v1/summary/' + id + '.json', function(content) {
					$('#modal-summary .modal-title').html(content.title);
					$('#modal-summary .modal-body').html(new DOMParser().parseFromString(content.content, 'text/html').documentElement.textContent);
					isSummaryLoaded = true;
					MathJax.Hub.Queue(['Typeset', MathJax.Hub, $('#modal-summary').get(0)]);
				})
				.fail(function() {
					$('#modal-summary .modal-body').html('Impossible d\'obtenir le résumé de cours. Veuillez ré-essayer plus tard !');
				});
			}
		});
	</script>
{% endif %}

{% if page.adsense or layout.adsense %}
	<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
	
	<script>
		$(document).ready(function() {
			$('.adsbygoogle').each(function() {
				(adsbygoogle = window.adsbygoogle || []).push({});
			});
		});
	</script>
{% endif %}

{% if layout.awesomplete %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" async></script>
{% endif %}

{% if layout.smartbanner %}
	<script src="https://cdn.jsdelivr.net/npm/smartbanner.js@1.9.1/dist/smartbanner.min.js"></script>
{% endif %}

{% if page.js %}
	{% for script in page.js %}
		<script src="{{ script }}"></script>
	{% endfor %}
{% endif %}