<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% if page.maths %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/function-plot/1.18.1/function-plot.js"></script>
	
	<script type="text/javascript" src="/assets/js/maths.js"></script>
{% endif %}

{% if page.layout == 'lesson' %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.5.1/jQuery.print.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/is-in-viewport/3.0.0/isInViewport.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.3.0/tocbot.min.js"></script>
		
	<script type="text/javascript" src="/assets/js/lesson.js"></script>
{% endif %}

{% if page.adsense or layout.adsense %}
	<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.adsbygoogle').each(function() {
				(adsbygoogle = window.adsbygoogle || []).push({});
			});
		});
	</script>
{% endif %}

{% if layout.awesomplete %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" async></script>
{% endif %}

{% if layout.smartbanner %}
	<script type="text/javascript" src="/assets/js/smartbanner.min.js"></script>
{% endif %}

{% if page.js %}
	{% for script in page.js %}
		<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}
{% endif %}