<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>

{% if page.maths %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/function-plot/1.18.1/function-plot.js" integrity="sha256-f+Ip/46APhBPpwI1zh9gjW/jbmqhzEdNCEcyxyQQ2wY=" crossorigin="anonymous"></script>
	
	<script src="/assets/js/maths.js"></script>
{% endif %}

{% if page.layout == 'lesson' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.min.js" integrity="sha256-s/wuIT+s0uE5Igk30VS2UAcs5Ck6SDt+iTlUzYQBn/4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js" integrity="sha256-m1eTvwEHwmsw4+XKF7BshClVJEPwTVycveNl0CS0Mkk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/is-in-viewport/3.0.4/isInViewport.min.js" integrity="sha256-YCKf7pbD5WuWira7Ir49rglmeklV67h8HCeC7GCYWEw=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.6.0/tocbot.min.js" integrity="sha256-+fdFDIM3huAQNs/gn7OOoN9jpU+6sx7RCGkvQn9QS0s=" crossorigin="anonymous"></script>
		
	<script src="/assets/js/lesson.js"></script>
	
	<script>
		let isSummaryLoaded = false;
		
		$('#export-summary').click(function() {
			$('#modal-summary').modal();
			if(!isSummaryLoaded) {
				$('#modal-summary .modal-body').html('<em>Chargement du résumé en cours...</em>');			
				let id = '{{ page.path | replace: 'lessons/', '' | replace: '.html', '' }}';
				$.get('../../api/v1/summary/' + id + '.json', function(content) {
					$('#modal-summary .modal-title').html(content.title);
					$('#modal-summary .modal-body').html(new DOMParser().parseFromString(content.content, 'text/html').documentElement.textContent);
					isSummaryLoaded = true;
					MathJax.Hub.Queue(['Typeset', MathJax.Hub, $('#modal-summary').get(0)]);
				})
				.fail(function() {
					$('#modal-summary .modal-body').html('Impossible d\'obtenir le résumé de cours. Veuillez ré-essayer plus tard !');
				});
			}
		});
	</script>
{% endif %}

{% if page.adsense or layout.adsense %}
	<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
	
	<script>
		$(document).ready(function() {
			$('.adsbygoogle').each(function() {
				(adsbygoogle = window.adsbygoogle || []).push({});
			});
		});
	</script>
{% endif %}

{% if layout.awesomplete %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" integrity="sha256-xA+USAVmEnBnz1FiLRSG8xglJflQVHmQvbx5+u4bslk=" crossorigin="anonymous"></script>
{% endif %}

{% if layout.smartbanner %}
	<script src="https://cdn.jsdelivr.net/npm/smartbanner.js@1.11.0/dist/smartbanner.min.js" integrity="sha256-SwzlIwgs836J5EQpHO7oyhimEnaArDL16cl42ISS7n4=" crossorigin="anonymous"></script>
{% endif %}

{% if page.js %}
	{% for script in page.js %}
		<script src="{{ script }}"></script>
	{% endfor %}
{% endif %}