<head>
	<meta charset="utf-8"/>
	<title>{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}</title>
	
	{% if page.layout == 'lesson' %}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/silver/pace-theme-flash.min.css"/>
	{% endif %}

	<!-- Description -->
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{site.tagline}}{% endif %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<!-- OpenGraph -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}"/>
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.tagline }}{% endif %}"/>
	<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.social.preview }}{% endif %}"/>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}"/>
	<meta name="twitter:site" content="{{ site.social.twitter }}"/>
	<meta name="twitter:creator" content="{{ site.social.twitter }}"/>
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.tagline }}{% endif %}"/>
	<meta name="twitter:image" content="{{ site.url }}{{ site.social.preview }}"/>
	
	<!-- Styles -->
	<meta name="theme-color" content="#{{ layout.metacolor }}"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>

	{% if layout.awesomplete %}
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css"/>
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
	{% if page.layout == 'lesson' %}
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css"/>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/assets/css/{{ page.layout }}.css"/>
	
	{% if page.css %}
		{% for sheet in page.css %}
			<link rel="stylesheet" type="text/css" href="{{ sheet }}"/>
		{% endfor %}
	{% endif %}
	<link rel="icon" type="image/png" href="/assets/img/favicon.png"/>

	{% if page.maths %}
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				tex2jax: {
					inlineMath: [
						['$','$'],
						['\\(','\\)']
					]
				},
				'HTML-CSS': {
					scale: 90,
					linebreaks: {
						automatic: true
					},
					webFont: 'Asana-Math',
					preferredFont: 'Asana-Math', 
					availableFonts: [
						'Asana-Math',
						'TeX'
					], 
					extensions: ['handle-floats.js']
				},
				messageStyle: 'none',
				showMathMenu: false
			});
		</script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>
	{% endif %}
</head>