<head>
	<meta charset="utf-8"/>
	{% if page.lesson %}
		{% assign lesson = site.data.lessons[page.lesson] %}
	{% endif %}
	
	{% capture title %}{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{% if page.lesson %}{{ lesson.title }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}{% endif %} {% endcapture %}
	<title>{{ title }}</title>
	
	{% if page.lesson %}	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/silver/pace-theme-flash.min.css" integrity="sha256-GT98VYLXLNFqi5R+kDkxPBrgVeSBM12Y/xhukgkaX1E=" crossorigin="anonymous">
	{% endif %}

	<!-- Description -->
	<meta name="description" content="{% if page.lesson %}{{ lesson.excerpt | strip_html }}{% else %}{{ site.tagline }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- OpenGraph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:description" content="{% if page.lesson %}{{ lesson.excerpt | strip_html }}{% else %}{{ site.tagline }}{% endif %}">
	<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.social.preview }}{% endif %}">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:site" content="{{ site.social.twitter }}">
	<meta name="twitter:creator" content="{{ site.social.twitter }}">
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	<meta name="twitter:description" content="{% if page.lesson %}{{ lesson.excerpt | strip_html }}{% else %}{{ site.tagline }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}{{ site.social.preview }}">
	
	<!-- Styles -->
	<meta name="theme-color" content="#{{ layout.metacolor }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">

	{% if layout.smartbanner %}
		<meta name="smartbanner:title" content="{{ site.title }}">
		<meta name="smartbanner:author" content="Skyost">
		<meta name="smartbanner:price" content="GRATUIT">
		<meta name="smartbanner:price-suffix-apple" content=" - Sur l'App Store">
		<meta name="smartbanner:price-suffix-google" content=" - Sur Google Play">
		<meta name="smartbanner:icon-apple" content="/assets/img/logo.svg">
		<meta name="smartbanner:icon-google" content="/assets/img/logo.svg">
		<meta name="smartbanner:button" content="VOIR">
		<meta name="smartbanner:button-url-apple" content="http://itunes.apple.com/app/id1458503418">
		<meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=fr.bacomathiques">
		<meta name="smartbanner:enabled-platforms" content="android,ios">
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smartbanner.js@1.11.0/dist/smartbanner.min.css" integrity="sha256-iBJ57IpSVpAZ+ejAbvcQuB3KnO7XyKpalzpv4Lo6l+M=" crossorigin="anonymous">
	{% endif %}
	
	{% if layout.awesomplete %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" integrity="sha256-TQcHzEz3/ZJ8MeAoO1SRE5sa5q68U57dwZO/tArtNqk=" crossorigin="anonymous">
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	{% if page.layout == 'lesson' %}
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="/assets/css/{{ page.layout }}.css">
	
	{% if page.css %}
		{% for sheet in page.css %}
			<link rel="stylesheet" type="text/css" href="{{ sheet }}">
		{% endfor %}
	{% endif %}
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">

	{% if page.maths %}
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				tex2jax: {
					inlineMath: [
						['$','$']
					]
				},
				'HTML-CSS': {
					extensions: ['handle-floats.js']
				},
				messageStyle: 'none',
				showMathMenu: false
			});
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML" integrity="sha256-nvJJv9wWKEm88qvoQl9ekL2J+k/RWIsaSScxxlsrv8k=" crossorigin="anonymous"></script>
		
		<!--
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">

		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous" onload="renderMathInElement(document.body, {delimiters: [{left: '$', right: '$', display: false}]});"></script>
		-->
	{% endif %}
</head>