<head>
	<meta charset="utf-8"/>
	<title>{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}</title>

	<!-- Description -->
	<meta name="description" content="{% if page.excerpt %}{{page.excerpt}}{% else %}{{site.tagline}}{% endif %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	
	<!-- Google+ -->
	<link rel="publisher" href="https://plus.google.com/{{site.social.googleplus}}"/>
	<meta itemprop="name" content="{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}"/>
	<meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.tagline }}{% endif %}"/>
	<meta itemprop="image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.social.preview }}{% endif %}"/>
	
	<!-- Facebook -->
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}"/>
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.tagline }}{% endif %}"/>
	<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.social.preview }}{% endif %}"/>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="{% if page.fulltitle %}{{ page.fulltitle }}{% else %}{{ page.title }} | {{ site.title }} {% endif %}"/>
	<meta name="twitter:site" content="{{ site.social.twitter }}"/>
	<meta name="twitter:creator" content="{{ site.social.twitter }}"/>
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.tagline }}{% endif %}"/>
	<meta name="twitter:image" content="{{ site.url }}{{ site.social.preview }}"/>
	
	<!-- Styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
	
	<link rel="stylesheet" href="/assets/css/style.css"/>
	<link rel="stylesheet" href="/assets/css/{{ page.layout }}.css"/>
	{% if page.lesson %}
		<link rel="stylesheet" href="/assets/css/lesson.css"/>
	{% endif %}
	{% if page.css %}
		{% for sheet in page.css %}
			<link rel="stylesheet" href="{{ sheet }}"/>
		{% endfor %}
	{% endif %}
	<link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
	
	<!-- Adsense (temporaly removed) -->
	<!--
	<script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript" async></script>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-7167241518798106",
			enable_page_level_ads: true
		});
	</script>
	-->

	{% if page.maths %}
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				tex2jax: {
					inlineMath: [
						['$','$'],
						['\\(','\\)']
					]
				},
				'HTML-CSS': {
					scale: 90,
					webFont: 'Asana-Math',
					preferredFont: 'Asana-Math', 
					availableFonts: [
						'Asana-Math',
						'TeX'
					], 
					extensions: ['handle-floats.js']
				},
				messageStyle: 'none',
				showMathMenu: false
			});
		</script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML"></script>
	{% endif %}
</head>