<div class="comment row">
    <div class="col-lg-3 col-12 mb-lg-0 mb-4">
        <a href="#commentaire-{{ comment._id }}">
            <img class="avatar" src="{% if site.comments.moderators contains comment.author %}{{ site.comments.moderators[comment.author] }}{% else %}https://api.adorable.io/avatars/64/{{ comment.author }}.png{% endif %}" title="{{ comment.author }}" alt="{{ comment.author }}"/>
        </a>
    </div>
    <div class="col-lg-9 col-12">
        <div class="content clearfix">
            <h3 id="commentaire-{{ comment._id }}" class="author">{{ comment.author }} {% if site.comments.moderators contains comment.author %}(Modérateur){% endif %}</h3>
            {{ comment.message | xml_escape | markdownify }}

            <small class="date text-muted">{{ comment.date | date: "%d/%m/%Y" }} {{ comment.date | date: "%H:%M" }}</small>
        </div>
    </div>
</div>