/* MAIN COLORS */

$main-color: #3498db;

/* SCROLLBARS */

$scrollbar-thumb-background: #999999;
$scrollbar-thumb-background-hover: #777777;
$scrollbar-thumb-background-active: #424242;
$scrollbar-thumb-border: white;

$scrollbar-track-background: transparent;
$scrollbar-track-background-active: transparent;
$scrollbar-track-border: white;

$scrollbar-corner-background: transparent;

/* DEFAULT COLORS */

/** Text : **/

$default-text-color: #222222;

/** Cards : **/

$cards-link-color: #7f8c8d;

/** Navbar : **/

$nav-link-color: #8c8c8c;

/** Selection : **/

$default-selection-color: #bfdfff;

/* LESSON COLORS */

/** Titles : **/

$lesson-h1-color: #912c21;
$lesson-h2-color: #1c567d;
$lesson-h3-color: #2980b9;

/** Social : **/

$social-twitter-color: #32ccfe;
$social-facebook-color: #3c599f;
$social-googleplus-color: #cf3d2e;
$social-tumblr-color: #314e6c;
$social-mail-color: #504e54;

/** Formulas, tips and annals : **/

$formula-border-color: $main-color;
$formula-background-color: #ebf3fb;

$tip-border-color: #26a65b;
$tip-background-color: #dcf3d8;

$annals-border-color: #e74c3c;
$annals-background-color: #fceae9;

/* SIMPLE LAYOUT COLORS */

/** Global colors : **/

$simple-selection-color: #aef2e7;
$simple-footer-color: rgba(255, 255, 255, 0.8);
$simple-footer-h3-color: rgba(255, 255, 255, 0.9);
$simple-footer-links-color: #4cdbc4;
$simple-footer-heart-color: #e74c3c;
$simple-footer-links-background-color: #0a1922;

$header-paragraph-color: rgba(255, 255, 255, 0.7);

$simple-text-color: rgba(0, 0, 0, 0.7);
$section-2n-color: #f2f2f2;

$col-fa-color: rgba(0, 0, 0, 0.4);
$figure-fa-color: $main-color;

$h3-line-on-sides-color: #dddddd;

/** Index colors : **/

$postit-font-color: #333333;
$postit-background-color: lighten($main-color, 30%);
$postit-pin-color: #c0392b;
$postit-pin-stem-color: #aaaaaa;

$fa-question-color: rgba(0, 0, 0, 0.1);