/* MAIN COLORS */

$main-color: #3583d6;
$main-color-darker: #2980b9;
$main-text-color: #222222;

/* LESSON COLORS */

/** Titles : **/

$lesson-h1: #912c21;
$lesson-h2: #1c567d;
$lesson-h3: $main-color-darker;

/** Social : **/

$social-twitter-color: #4da7de;
$social-facebook-color: #3e5b98;
$social-googleplus-color: #dd4b39;
$social-tumblr-color: #45556c;
$social-mail-color: #000000;

/** Formulas, tips and annals : **/

$formula-border-color: $main-color;
$formula-background-color: #ebf3fb;

$tip-border-color: #26a65b;
$tip-background-color: #dcf3d8;

$annal-border-color: #e74c3c;
$annal-background-color: #fceae9;

/** Selection : **/

$lesson-selection-color: #bfdfff;

/* SIMPLE LAYOUT COLORS */

$simple-main-color: #2c3e50;

$footer-border-color: LemonChiffon;
$footer-background-color: LightYellow;
$footer-text-color: #797979;

$simple-selection-color: #aef2e7;