/* MAIN COLORS */

$main-color: #3583d6;
$main-color-darker: #2980b9;
$main-text-color: #222222;

/* SCROLLBARS */

$scrollbar-thumb-background: #999999;
$scrollbar-thumb-background-hover: #777777;
$scrollbar-thumb-background-active: #424242;
$scrollbar-thumb-border: white;

$scrollbar-track-background: transparent;
$scrollbar-track-background-active: transparent;
$scrollbar-track-border: white;

$scrollbar-corner-background: transparent;

/* DEFAULT COLORS */

/** Cards : **/

$cards-link-color: #16a085;

/** Navbar : **/

$nav-link-color: #8c8c8c;

/** Selection : **/

$default-selection-color: #bfdfff;

/* LESSON COLORS */

/** Titles : **/

$lesson-h1: #912c21;
$lesson-h2: #1c567d;
$lesson-h3: $main-color-darker;

/** Social : **/

$social-twitter-color: #32ccfe;
$social-facebook-color: #3c599f;
$social-googleplus-color: #cf3d2e;
$social-tumblr-color: #314e6c;
$social-mail-color: #504e54;

/** Formulas, tips and annals : **/

$formula-border-color: $main-color;
$formula-background-color: #ebf3fb;

$tip-border-color: #26a65b;
$tip-background-color: #dcf3d8;

$annal-border-color: #e74c3c;
$annal-background-color: #fceae9;

/* SIMPLE LAYOUT COLORS */

$simple-main-color: #2c3e50;

$index-glyphicon-color: #d0d6db;

$footer-border-color: LemonChiffon;
$footer-background-color: LightYellow;
$footer-text-color: #797979;

$simple-selection-color: #aef2e7;