@charset "UTF-8";

/* BOOTSTRAP MOBILE WIDTH */

$small-max-width: 575px;
$mobile-max-width: 767px;
$tablets-max-width: 991px;
$large-max-width: 1199px;

/* LOGO */

@mixin logo-before() {
	content: '';
	display: inline-block;
	vertical-align: -0.12em;
	height: 0.9em;
	width: 0.9em;
	background-size: 0.9em 0.9em;
	background-image: url('../img/logo.svg');
	margin-right: 0.2em;
}

/* BUBBLES TEXT */

$bubble-text-formula: 'Formule';
$bubble-text-tip: 'Astuce';
$bubble-text-annals: "S'entraîner";

/* VENDOR PREFIXES */

@mixin vendor-prefix($name, $value) {
	@each $vendor in ('-webkit-', '-moz-', '-o-', '-ms-', '') {
		#{$vendor}#{$name}: #{$value};
	}
}