---
---

@import 'colors';
@import 'utils';

/* GENERAL STYLES */

/** Selection : **/

::selection {
	background-color: $default-selection-color;
}

/** Article : **/

article {
	margin-top: 30px;
}

/* NAVIGATIONS */

/** Navbar : **/

#navbar {
	font-size: 1.08em;
	background-color: $main-color;
	padding-bottom: 0;
	
	.navbar-content {
		display: block;
		min-width: 100%;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		
		.navbar-content-brand {
			display: block;
			text-align: center;
			
			@media(max-width: $tablets-max-width) {
				display: none;
			}
		}
	}
	
	.navbar-brand {
		font-family: 'Handlee', cursive;
		font-size: 4em;
		color: white !important;
		padding: 0;
		margin: 20px 0 20px 0;
		
		@media(max-width: $tablets-max-width) {
			margin: 0;
			font-size: 2em;
		}
		
		@media(max-width: $mobile-max-width) {
			font-size: 1.5em;
		}
	}
	
	.navbar-brand:before {
		@include logo-before();
	}
	
	.nav-item {
		position: relative;
		padding: 0 2px 7px 2px;
	}
	
	.nav-item:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.75);
		transition: height linear 0.15s;
	}
	
	.nav-item:hover:after, .nav-item.active:after {
		height: 3px;
		
		@media(max-width: $tablets-max-width) {
			height: 0px !important;
		}
	}
	
	.nav-item.active .nav-link {
		color: white;
	}
	
	.nav-link {
		text-transform: uppercase;
		
		@media(max-width: $tablets-max-width) {
			font-size: 1em;
			text-transform: none;
		}
	}
	
	@media(max-width: $tablets-max-width) {
		
		.fa {
			display: none;
		}
		
	}
	
	@media(max-width: $mobile-max-width) {
		padding-bottom: 8px;
	}
}