---
---

@import "breakpoints";
@import "colors";

#page-footer {
  padding: 40px 140px;

  .col-store {
    text-align: center;
    margin-top: 3rem;

    img {
      width: 90%;
      max-width: 300px;
    }
  }

  @media(max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}