---
---

@import "breakpoints";
@import "colors";

.card-levels {
  .card-level-button {
    height: 100%;
    width: 100%;
    padding: 30px;

    img {
      display: block;
      margin: 0 auto 5px auto;
      width: 80px;
    }
  }
}

#mobile-apps {
  background: linear-gradient(0deg, transparent 50px, $main-color 50px);
  margin-top: 50px;

  .text {
    padding: 80px 140px 0 140px;

    .flat-cards {
      background: none;

      @media(min-width: $tablet-width) {
        padding: 0;
      }
    }

    > h2 {
      color: white;
    }

    > p {
      color: rgba(white, 0.8);
    }

    > p:last-of-type {
      margin-bottom: 80px;
    }

    @media(max-width: $tablet-width) {
      padding: 80px 0 0 0;
    }
  }

  .device {
    position: absolute;
    top: -10%;
    width: 80%;
    padding: 12% 3%;
    border-radius: 20px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: inset 0 4px 7px 1px #fff,
    inset 0 -5px 20px rgba(173, 186, 204, .25),
    0 2px 6px rgba(0, 21, 64, .14),
    0 10px 20px rgba(0, 21, 64, .05);

    &::before, &::after {
      content: "";
      display: block;
      position: absolute;
      background: white;
      box-shadow: inset 0 4px 7px 1px white,
      inset 0 -5px 20px rgba(173, 186, 204, 0.25),
      0 2px 6px rgba(0, 21, 64, 0.14),
      0 10px 20px rgba(0, 21, 64, 0.05);
    }

    &::after {
      border-radius: 50%;
      margin: 0 auto 2%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 10%;
      height: 0;
      padding-top: 10%;
      box-shadow: inset 0 0 5px 1px rgba(black, 0.12);
    }

    &::before {
      border-radius: 50px;
      margin: 5.5% auto 0;
      left: 0;
      right: 0;
      top: 0;
      width: 20%;
      height: 1%;
      box-shadow: inset 0 0 3px 1px rgba(black, 0.12);
    }

    img {
      width: 100%;
      border-radius: 4px;
      border: 1px solid rgba(black, 0.24);
    }
  }

  @media(max-width: $tablet-width) {
    background: linear-gradient(0deg, transparent 350px, $main-color 350px);
  }
}
