---
---

@import 'colors';
@import 'utils';

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

/* LESSONS LIST */

#lessons-list {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 70px 20px 20px 20px;
  background-color: white;
  margin-top: 20px;

  .btn-group {
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    @include vendor-prefix('transform', 'translate(-50%, -50%)');

    .btn {
      width: 50%;
    }

    img {
      display: block;
      margin: 0 auto 0.2em auto;
      height: 2em;
      width: 2em;
    }
  }
  ul {
    text-align: left;

    a {
      font-weight: normal !important;
    }
  }

  @media(max-width: $tablet-width) {
    margin-top: 50px;
  }
}

/* MOBILE BANNERS */

.mobile-banner {
  @media(max-width: $mobile-width) {
    margin-top: 20px;
  }
}

/* MOCKUP */

#mobile {
  .d-lg-block {
    margin-bottom: -300px;
  }

  .d-md-block {
    margin-top: 50px;
  }

  .marvel-device {
    z-index: -1;

    .screen {
      background-image: url('../img/app-screenshot.png');
      background-size: 100%;
    }
  }

  .d-flex img {
    width: 200px;
  }
}

/* REVIEWS */

#review-box {
  margin-top: 30px;

  .stars {
    text-align: center;
    font-size: 2em;
    color: $review-stars-color;
    margin-bottom: 10px;

    .fa {
      margin-right: 0.1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .review {
    position: relative;
    height: 100%;
    min-height: 9em;
    border-left: 8px solid $review-border-color;
    background-color: $review-background-color;
    padding: 50px 20px 20px 20px;

    .review-content {
      height: 100%;
      width: 100%;

      q {
        &:before, &:after {
          content: '';
        }
      }

      .footer {
        margin-top: 10px;
        text-align: right;
        width: 100%;
        display: block;
      }
    }

    &:before, &:after {
      position: absolute;
      font-family: 'FontAwesome';
      font-size: 40px;
      color: $review-quote-icon-color;
      top: 0;
      left: 10px;
      content: '\f10d';
    }

    @media(max-width: $mobile-width) {
      min-height: 12em;
    }
  }
}

/* ADSENSE */

.adsbygoogle {
  background-color: $pretty-section-2n-color;
}