---
---
@import 'utils';

/* SPECIFIC STYLES */

#menu-lessons {
	position: relative;
	
	.panel-heading {
		text-transform: uppercase;
	}
	
	.glyphicon-bookmark {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	
}

#row-contents {
	margin: 60px 0 60px 0;
}

#youtube-image {
	opacity: 0.6;
	height: 128px;
	margin: 40px 0 40px 0;
}

article ul {
	list-style-type: none;
	padding-left: 16px;
	
	li:before {
		content: "—";
		margin-right: 10px;
	}
}

/* COLUMNS */

.col-md-4 {
	padding: 0 25px 0 25px;
	
	figure img {
		height: 72px;
	}
	
	@media(max-width: $tablets-max-width) {
		margin-bottom: 30px;
	}
}

.col-md-4.middle {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	
	@media(max-width: $tablets-max-width) {
		border: 0;
	}
}

.col-md-6 {
	padding-bottom: 20px;
}

.col-md-12.first {
	text-align: left;
}