---
---

@import 'colors';
@import 'utils';

/* PAGE CONTENT */

/** Title : **/

h1 {
	display: none;
}

/** Lessons row : **/

.lessons-row {
	margin-top: 30px;
}

/** Cards : **/

.card {
	margin-bottom: 20px;
	max-width: 1600px;

	.card-header {
		font-family: 'Handlee', cursive;
		text-align: center;
		background-color: lighten($main-color, 4%);
		color: white;
		
		h2 {
			font-size: 1.6em;
			font-weight: normal;
			margin: 0.6em 0;
		}
	}
	
	.card-header.specialty {
		background-color: $lesson-specialty-color;
	}

	.card-img {
		position: relative;
		
		.preview {
			display: block;
			height: 130px;
			width: 100%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			background-repeat: no-repeat;
			background-position: center;
		}
		
		.overlay {
			position: absolute;
			display: block;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			background-color: black;
			@include vendor-prefix('transition', 'opacity 0.3s ease');
		}
		
		.caption {
			position: absolute;
			display: block;
			top: 50%;
			color: white;
			width: 100%;
			text-align: center;
			padding: 0 5px 0 5px;
			opacity: 0;
			@include vendor-prefix('transform', 'translateY(-50%)');
			@include vendor-prefix('transition', 'opacity 0.3s ease');
		}
		
		&:hover {
			.overlay {
				opacity: 0.7;
			}
			.caption {
				opacity: 1;
			}
		}
	}
	
	.card-body {
		padding-bottom: 50px;
	}
	
	.card-footer {
		text-align: right;
		text-transform: uppercase;
		
		a, a:visited {
			color: $cards-link-color;
		}
		
		a:hover, a:active, a:focus {
			color: darken($cards-link-color, 10%);
		}
	}
}

/** Footer : **/

#footer {
	margin-top: 16px;
	text-align: right;
	font-size: 0.8em;
	font-style: italic;

	@media(max-width: $mobile-max-width) {
		margin-bottom: 120px;
	}
}

/** Levels nav : **/

#nav-levels {
	background-color: darken($main-color, 6%);
	position: fixed;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;

	figure {
		position: relative;
		text-align: center;

		img {
			position: absolute;
			border-radius: 100%;
			border: 3px solid darken($main-color, 6%);
			top: -10px;
			left: 50%;
			@include vendor-prefix('transform', 'translateX(-50%)');
			height: 40px;
		}

		figcaption {
			margin-top: 30px;

			a {
				color: white;
			}
		}
	}

	figure.current {
		img {
			top: -26px;
			height: 56px;
		}

		figcaption a {
			background-color: white;
			color: darken($main-color, 6%);
			padding: 0 1em;
			border-radius: 1em;
		}
	}
}