---
---

@import "breakpoints";
@import "colors";

@mixin bubble($text, $borderColor, $backgroundColor) {
  $borderLeft: 8px;
  position: relative;
  display: block;
  padding: 20px 20px 20px (20 + $borderLeft);
  margin-bottom: 1rem;
  border-left: $borderLeft solid $borderColor;
  background-color: $backgroundColor;
  overflow-x: auto;
  page-break-inside: avoid;
  list-style-type: none;

  &:before {
    content: $text;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $borderColor;
    color: white;
    font-size: 0.6em;
    padding-right: $borderLeft;
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover:before {
    opacity: 1;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h4 {
    color: darken($borderColor, 6%);
    font-size: 1.25em;
    margin-bottom: 0.75rem;
  }

  ul {
    list-style-type: none;
    padding-left: 1rem;

    @include bubble_li()
  }

  table {
    background-color: white;
  }

  pre {
    padding: 10px;
  }

  img {
    max-width: 90%;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
  }

  @include bubble_li()
}

@mixin bubble_li() {
  > li {
    padding-left: 0 !important;

    &:before {
      content: '—';
      margin-right: 0.6rem;
    }
  }

  li {
    margin-bottom: 0.8rem;
    padding-left: 0.2rem;
  }
}

#page-header {
  .header-image {
    position: relative;
    display: block;
    border-radius: 100%;
    max-width: 300px;
    width: 100%;
    border: 8px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      position: absolute;
      content: '';
      display: block;
      border-radius: 100%;
      height: 100%;
      width: 100%;
      opacity: 0.5;
      background-color: $main-color;
    }

    @media(max-width: $mobile-width) {
      max-width: 150px;
      border: 4px solid white;
    }
  }

  .lesson-subtitle {
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
  }

  .lesson-info {
    display: block;
    font-size: 1em;
    font-weight: normal;
    cursor: help;
  }

  .level img {
    vertical-align: -0.1em;
    height: 1em;
  }

  .difficulty {
    margin-bottom: 1rem;

    .fa {
      color: rgba(white, 0.75);
    }

    .difficulty-1 {
      color: $lesson-difficulty-1;
    }

    .difficulty-2 {
      color: $lesson-difficulty-2;
    }

    .difficulty-3 {
      color: $lesson-difficulty-3;
    }

    .difficulty-4 {
      color: $lesson-difficulty-4;
    }

    .difficulty-5 {
      color: $lesson-difficulty-5;
    }
  }

  .hint {
    display: block;
    font-weight: normal;
    font-size: 0.8rem;
  }

  .options {
    text-align: center;
    padding-top: 0;
    opacity: 0;
    transition: all 500ms;

    .option {
      cursor: pointer;
      height: 0;
      margin: 0 0.5em;
      position: relative;
      transition: height 500ms;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &.expanded {
      padding-top: 20px;
      opacity: 1;

      .option {
        height: 40px;
        opacity: 0.8;
        transition: opacity 200ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

#lesson-top-level {
  background: linear-gradient(180deg, $main-color 110px, transparent 110px);
  padding-bottom: 20px;
}

#page-content, #lesson-navigation {
  background-color: white;
  padding: 40px;
}

#page-content {
  text-align: justify;
  box-shadow: 0 0 30px rgba(black, 0.2);
  z-index: 1;

  h2 {
    font-size: 2.4rem;
    color: $lesson-h2;
    padding-bottom: 0.5rem;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid rgba(black, 0.1);
    text-align: left;
  }

  h3 {
    color: $lesson-h3;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  h4 {
    text-align: left;
  }

  .anchorjs-link {
    vertical-align: -0.05em;
    margin-left: -0.3em !important;
    opacity: 0;
    transition: all 0.25s linear;

    &:link, &:active, &:visited {
      color: $lesson-anchor !important;
      text-decoration: none;
    }

    &:hover {
      color: $lesson-anchor-hover !important;
    }
  }

  h2:hover > .anchorjs-link, h3:hover > .anchorjs-link {
    opacity: 1;
    margin-left: 0 !important;
  }

  .formula {
    @include bubble('À connaître 💡', $main-color, #ebf3fb);
  }

  .tip {
    $border-color: #26a65b;
    @include bubble('À lire 👀', $border-color, #dcf3d8);

    a {
      color: darken($border-color, 10%);
      text-decoration-color: lighten($border-color, 5%);

      &:hover, &:active {
        color: darken($border-color, 20%);
        text-decoration-color: darken($border-color, 5%);
      }
    }
  }

  .proof-content {
    @include bubble('Démonstration 🧠', #f1c40f, #fff8de);
  }

  .proof-label {
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: rgba(black, 0.6);
    cursor: pointer;
    margin-bottom: 1rem;
  }

  @media(max-width: $mobile-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#lesson-navigation {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 1;
  box-shadow: 20px 0 30px -10px rgba(black, 0.2);
  font-weight: lighter;

  .toc-list {
    list-style-type: none;
    padding: 0;
    margin-top: -1px;
  }

  .toc-link {
    position: relative;
    text-decoration: none;
    display: inline-block;

    &.is-active-link {
      color: $main-color;

      &:before {
        background-color: $main-color;
      }
    }
  }

  > .toc-list > .toc-list-item {
    > .toc-link {
      padding-left: 20px;
    }

    > .toc-list > .toc-list-item > .toc-link {
      padding-left: 40px;
    }
  }
}

.comment {
  .author {
    font-size: 1.5em;
  }

  .avatar {
    border-radius: 100%;
    width: 100%;
    max-width: 100px;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    width: 100%;

    .author {
      text-align: left;
    }

    p {
      text-align: justify;
      flex: 1;
      word-break: break-word;
    }

    .date {
      text-align: right;
    }
  }
}

.smartbanner {
  z-index: 3;
}