---
---

@import 'colors';

/* NAVBAR LICENSE */

#license {
	width: 100%;
	text-align: center;
	margin: 16px 0 8px 0;
	
	img {
		opacity: 0.5;
	}
	
	img:hover {
		opacity: 0.8;
	}
}

/* EXPORT */

/** Social : **/

@font-face {
	font-family: 'SocialIcon';
	src: url('../fonts/socicon.eot');
	src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/socicon.woff') format('woff'),
		url('../fonts/socicon.ttf') format('truetype'),
		url('../fonts/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

	@font-face {
		font-family: 'SocialIcon';
		src: url('../fonts/socicon.svg') format(svg);
	}
	
}

.social {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 14px;
	
	li {
		display: inline-block;
		zoom: 1;
		
		a {
			font-family: 'SocialIcon' !important;
			font-style: normal;
			font-weight: 400;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			box-sizing: border-box;

			-o-transition: 0.1s;
			-ms-transition: 0.1s;
			-moz-transition: 0.1s;
			-webkit-transition: 0.1s;
			transition: 0.1s;
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);

			overflow: hidden;
			text-decoration: none;
			text-align: center;
			display: block;
			position: relative;
			z-index: 1;
			width: 32px;
			height: 32px;
			line-height: 32px;
			font-size: 17px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin-right: 4px;
			color: #ffffff;
			background-color: none;
		}
	}
}

.social-twitter:hover, .social-facebook:hover, .social-googleplus:hover, .social-tumblr:hover, .social-mail:hover {
	opacity: 0.8;
}

/*** Twitter : ***/

.social-twitter {
	background-color: $social-twitter-color;
}

.social-twitter:before {
	content: '\e040';
}

/*** Facebook : ***/

.social-facebook {
	background-color: $social-facebook-color;
}

.social-facebook:before {
	content: '\e041';
}

/*** Google+ : ***/

.social-googleplus {
	background-color: $social-googleplus-color;
}

.social-googleplus:before {
	content: '\e042';
}

/*** Tumblr : ***/

.social-tumblr {
	background-color: $social-tumblr-color;
}

.social-tumblr:before {
	content: '\e059';
}

/*** Mail : ***/

.social-mail {
	background-color: $social-mail-color;
}

.social-mail:before {
	content: '\e01f';
}

/** Others : **/

#export {
	width: 100%;
	text-align: right;
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	
	li {
		display: inline-block;
		margin-left: 7px;
		cursor: pointer;
		background-size: 20px 20px;
		height: 20px;
		width: 20px;
	}
}

#export-pdf {
	background-image: url('../img/export-menu/pdf.svg');
}

#export-print {
	background-image: url('../img/export-menu/print.svg');
}

#export-social {
	background-image: url('../img/export-menu/social.svg');
}

#export-caveats {
	background-image: url('../img/export-menu/caveats.svg');
}

/* BUBBLES */

.bubble {
	display: block;
	border-radius: 4px;
	margin: 14px 0 14px 0;
	padding: 14px;
	border-width: 0 0 0 7px;
	border-style: solid;
}

.bubble table {
	background-color: white;
	max-width: 75%;
}

.bubble .plot svg {
	background-color: white;
}

ul.bubble {
	padding-left: 28px;
}

/* FORMULAS & TIPS */

.formula {
	border-color: $formula-border-color;
	background-color: $formula-background-color;
}

.tip {
	border-color: $tip-border-color;
	background-color: $tip-background-color;
}

.formula .last, .tip .last {
	margin-bottom: 0 !important;
}

.formula ul li, ul.formula li, .tip ul li, ul.tip li {
	margin-bottom: 10px;
}

.MathJax {
	outline-width: 0;
}

/* PLOTS */

.plot svg {
	display: block;
	margin: auto;
	margin-bottom: 21px;
	border: 1px solid rgba(0, 0, 0, 0.075);
	max-width: 90%;
}

/* ARTICLE STYLES */

/** Headers : **/

article {
	h1 {
		text-align: center;
		color: $lesson-h1;
		font-size: 38px;
	}
	h2 {
		color: $lesson-h2;
		font-size: 32px;
	}
	h3 {
		color: $lesson-h3;
		font-size: 26px;
	}
}

/** Math table : **/

.math-table img {
	background-color: white;
	min-width: 40%;
}

/** Back to top button : **/

#back-to-top {
	background-color: $main-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
	opacity: 0.5;
}

#back-to-top:hover {
	background-color: $main-color-darker;
	opacity: 0.8;
}

/** Annals : **/

#annals {
	border-color: $annal-border-color;
	background-color: $annal-background-color;
	
	h2 {
		margin-top: 0;
		font-size: 24px;
	}
	ul li strong {
		text-transform: uppercase;
	}
	p {
		float: right;
		margin-bottom: 0;
		font-style: italic;
		font-size: 0.8em;
	}
}

/* COMMENTS */

#disqus_thread {
	margin: 1em 0 1em 0;
}