---
---

@import 'colors';
@import 'utils';

/* ANCHORS */

.anchorjs-link {
	transition: all 0.25s linear;
	margin-left: -0.3em !important;
	opacity: 0;
}

.anchorjs-link:link, .anchorjs-link:active, anchorjs-link:visited {
	color: #95a5a6;
	text-decoration: none;
}

.anchorjs-link:hover {
	color: #7f8c8d;
}

*:hover > .anchorjs-link {
	opacity: 1;
	margin-left: 0 !important;
}

/* SIDEBARS */

#nav-lessons, #nav-toc {
	font-weight: lighter;
	margin-top: 30px;
	
	a:link, a:active, a:visited {
		color: $nav-link-color;
		text-decoration: none;
	}
}

#nav-lessons ul {
	font-size: 13px;
	
	li:before {
		color: $nav-link-color;
	}
	
	.active {
		font-weight: bold;
	}
}

#nav-toc {
	top: 0;
	
	.toc-h2 a {
		text-transform: uppercase;
		font-size: 13px;
	}
	
	.toc-h3 a {
		padding-left: 42px !important;
		font-size: 0.85em;
	}
	
	.dropdown-menu a {
		white-space: normal;
	}
	
	.toc-active {
		font-weight: bold;
	}
}

/* EXPORT */

/** Social : **/

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.social-icons.icon-circle .fa { 
	border-radius: 50%;
}

.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
 
.social-icons {
	.fa {
		font-size: 1.8em;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: rgba(255, 255, 255, 0.8);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.fa:hover, .fa:active {
		color: white;
	}

	.fa-envelope {
		background-color: $social-mail-color;
	}
	
	.fa-facebook {
		background-color: $social-facebook-color;
	}
	
	.fa-google-plus {
		background-color: $social-googleplus-color;
	}
	
	.fa-tumblr {
		background-color: $social-tumblr-color;
	}
	
	.fa-twitter {
		background-color: $social-twitter-color;
	}
}

/** Others : **/

#export {
	width: 100%;
	text-align: right;
	padding-top: 25px;
	
	li {
		display: inline-block;
		margin-left: 7px;
		cursor: pointer;
		background-size: 24px 24px;
		height: 24px;
		width: 24px;
	}
	
	@media(max-width: $mobile-max-width) {
		padding-top: 0;
	}
}

#export-pdf {
	background-image: url('../img/export-menu/pdf.svg');
}

#export-print {
	background-image: url('../img/export-menu/print.svg');
}

#export-social {
	background-image: url('../img/export-menu/social.svg');
}

#export-caveats {
	background-image: url('../img/export-menu/caveats.svg');
}

/* BUBBLES */

.bubble {
	display: block;
	border-radius: 4px;
	margin: 14px 0 14px 0;
	padding: 14px;
	border-width: 0 0 0 7px;
	border-style: solid;
	page-break-inside: avoid;
}

.bubble table {
	background-color: white;
	max-width: 75%;
	overflow-y: hidden;
}

.bubble .plot svg {
	background-color: white;
}

ul.bubble, ol.bubble {
	padding-left: 28px;
}

table {
	overflow-y: hidden;
}

/* FORMULAS & TIPS */

.formula {
	border-color: $formula-border-color;
	background-color: $formula-background-color;
}

.tip {
	border-color: $tip-border-color;
	background-color: $tip-background-color;
}

.formula > *:last-child, .tip > *:last-child, .formula > *:last-child *:last-child, .tip > *:last-child *:last-child {
	margin-bottom: 0 !important;
}

.formula ul li, ul.formula li, .tip ul li, ul.tip li, .formula ol li, ol.formula li, .tip ol li, ol.tip li {
	margin-bottom: 10px;
}

.MathJax {
	outline-width: 0;
}

/* PLOTS */

.plot svg {
	display: block;
	margin: auto;
	margin-bottom: 21px;
	border: 1px solid rgba(0, 0, 0, 0.075);
	//max-width: 90%;
}

/* ARTICLE STYLES */

/** Headers : **/

article {
	h1 {
		padding-top: 20px;
		text-align: center;
		color: $lesson-h1;
		font-size: 38px;
		
		@media(max-width: $mobile-max-width) {
			padding-top: 0;
			margin-top: 60px;
			margin-bottom: 60px;
		}
	}
	
	h2 {
		color: $lesson-h2;
		font-size: 32px;
		padding: 15px 0 15px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 20px 0 0 0;
		page-break-after: avoid;
	}
	
	h3 {
		color: $lesson-h3;
		font-size: 26px;
		margin-top: 30px;
		page-break-after: avoid;
	}
	
	table {
		page-break-inside: avoid;
	}
	
	> section > p:nth-child(2) {
		margin-top: 30px;
	}
}

/** Math table : **/

.math-table img {
	background-color: white;
	min-width: 40%;
}

/** Back to top button : **/

#back-to-top {
	z-index: 1;
	background-color: $main-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
	opacity: 0.5;
}

#back-to-top:hover {
	background-color: $main-color-darker;
	opacity: 0.8;
}

/** Annals : **/

#annals {
	border-color: $annal-border-color;
	background-color: $annal-background-color;
	
	h2 {
		margin-top: 0;
		font-size: 24px;
	}
	ul li strong {
		text-transform: uppercase;
	}
	p {
		float: right;
		margin-bottom: 0;
		font-style: italic;
		font-size: 0.8em;
	}
}

/* COMMENTS */

#disqus_thread {
	margin: 1em 0 1em 0;
}

/* DIRECT ACCESS MODAL */

#modal-directaccess li {
	height: 3em;
}

/* PRINT OPTIONS */

@page {
	size:  auto;
	margin: 20mm;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
	}
}