---
---

@import 'colors';
@import 'utils';

/* GENERAL STYLES */

/** Default color : **/

body {
  color: $default-text-color;
}

/** Selection : **/

::selection {
  background-color: $default-selection-color;
}

::-moz-selection {
  background-color: $default-selection-color;
}

/** Article : **/

article {
  margin-top: 30px;
  font-size: 1.05em;
}

/* NAVIGATIONS */

/** Navbar : **/

#navbar {
  font-size: 1.15em;
  background-color: darken($main-color, 6%);
  padding-bottom: 0;

  .navbar-content {
    display: block;
    min-width: 100%;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    .navbar-content-brand {
      display: block;
      text-align: center;
    }
  }

  .navbar-brand {
    font-family: 'Handlee', cursive;
    font-size: 5em;
    color: white !important;
    padding: 0;
    margin: 45px 0;

    &:before {
      @include logo-before();
    }

    @media(max-width: $mobile-max-width) {
      margin: 0;
      font-size: 2em;
    }

    @media(max-width: 360px) {
      font-size: 1.5em;
    }

    @media(min-width: $mobile-max-width) {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .nav-item {
    position: relative;
    padding: 0 2px 7px 2px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.75);
      @include vendor-prefix('transition', 'height linear 0.15s');
    }
  }

  .nav-item:hover:after, .nav-item.active:after {
    height: 3px;

    @media(max-width: $mobile-max-width) {
      height: 0 !important;
    }
  }

  .nav-item.active .nav-link {
    color: white;
  }

  .nav-link {
    text-transform: uppercase;

    @media(max-width: $mobile-max-width) {
      font-size: 1em;
      text-transform: none;
    }
  }

  @media(min-width: $mobile-max-width) {
    display: block;
  }

  @media(max-width: $mobile-max-width) {
    padding-bottom: 8px;

    .nav-item > a > .fa {
      display: none;
    }
  }
}