---
---

@import "colors";

.review {
  .rating {
    display: block;
    color: $home-review;
    font-size: 50px;
    letter-spacing: -0.05em;
    margin-bottom: 40px;

    .fa:nth-child(1), .fa:nth-child(5) {
      vertical-align: -0.4em;
    }
    .fa:nth-child(2), .fa:nth-child(4) {
      vertical-align: -0.2em;
    }
  }

  .content {
    display: block;
    margin-bottom: 10px;
  }
}