---
---

/* SOME STYLES SPECIFIC TO THIS PAGE */

.card {
	margin-bottom: 20px;
}

.card-header {
	text-align: center;
	
	h2 {
		font-size: 1.3em;
		margin-bottom: 0;
	}
}

.card-text {
	margin-bottom: 24px;
}