---
---

@import 'colors';
@import 'utils';

/** GENERAL STYLES **/

/** Selection : **/

::selection {
	background-color: $simple-selection-color;
}

::-moz-selection {
	background-color: $simple-selection-color;
}

/** Article : **/

article {
	font-size: 1.1em;
	text-align: center;
	color: $simple-text-color;
	
	section {
		padding: 50px 0 50px 0;
	}

	section:nth-of-type(2n) {
		background-color: $section-2n-color;
	}
}

/** FontAwesome : **/

.col-fa .fa {
	color: $col-fa-color;
	font-size: 6em;
	
	@media(max-width: $mobile-max-width) {
		margin-top: 40px;
	}
}

.col-xs-12 p:last-of-type {
	margin-bottom: 0;
}

figure .fa-5x {
	color: $figure-fa-color;
	margin-bottom: 20px;
}


@media(max-width: $mobile-max-width) {
	figure {
		margin-bottom: 60px
	}
}

/* NAVIGATION BAR */

.navbar {
	background-color: $main-color;
}

/* HEADER */

header {
	min-height: 400px;
	background-color: $main-color;
	
	div {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		color: white;
		
		p {
			font-size: 1.2em;
			color: $header-paragraph-color;
			margin-bottom: 30px;
		}
		
		.btn-outline-light:hover {
			color: $main-color;
		}
	}
	
	h1 {
		font-family: 'Handlee', cursive;
		font-size: 7vw;
		margin-bottom: 40px;
		
		&:before {
			@include logo-before();
		}
		
		@media(max-width: $mobile-max-width) {
			font-size: 12vw !important;
		}
	}
}

/* UNDER HEADER TRIANGLE RULE */

.triangle-rule {
	height: 12px;
	width: 100%;
	margin: 0;
	border: 0;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50 15, 100 100, 0 100" fill="' + $main-color + '"/></svg>');
	@include vendor-prefix('transform', 'rotate(180deg)');
}

/* HEADINGS */

article {
	h2 {
		display: none;
	}

	h3 {
		font-size: 1.5em;
		margin-bottom: 50px;
		text-transform: uppercase;
		
		display: table;
		white-space: nowrap;
		
		&:before, &:after {
			border-top: 1px solid $h3-line-on-sides-color;
			content: '';
			display: table-cell;
			position: relative;
			top: 0.6em;
			width: 45%;
		}
		
		&:before {
			right: 1.5%;
		}
		
		&:after {
			left: 1.5%;
		}
		
		@media(max-width: $mobile-max-width) {
			white-space: normal;
			
			&:before, &:after {
				top: 1.2em;
			}
		}
	}
}

/* CONTENT STYLES */

article .col-md-4 {
	margin-bottom: 20px;
}

.stand-out {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0;
}

/* ADSENSE */

.adsbygoogle {
	margin-bottom: 50px;
}

/* FOOTER */

/** Footer styles : **/

footer {
	color: rgba(255, 255, 255, 0.8);
	background-color: #0a1922;
	padding: 40px 0 40px 0;
	
	a:link, a:visited {
		color: $simple-footer-links-color;
	}

	a:hover, a:active, a:focus {
		color: darken($simple-footer-links-color, 20%);
	}
	
	h3 {
		font-size: 1.3em;
		text-transform: uppercase;
		margin-bottom: 16px;
		color: rgba(255, 255, 255, 0.9);
	}
	
	.fa-heart {
		color: #e74c3c;
	}
	
	.col-md-4 p:last-of-type, .col-md-4 ul:last-of-type {
		margin-bottom: 0;
	}
	
	@media(max-width: $mobile-max-width) {
		.col-md-4 p:last-of-type {
			margin-bottom: 40px;
		}
	}
}

/** Pulse animation : **/

.pulse {
	@include vendor-prefix('animation', 'pulse 1s linear infinite');
}

@keyframes "pulse" {
	0% {
		@include vendor-prefix('transform', 'scale(1.1)');
	}
	50% {
		@include vendor-prefix('transform', 'scale(0.8)');
	}
	100% {
		@include vendor-prefix('transform', 'scale(1)');
	}
}

@-webkit-keyframes "pulse" {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-moz-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes "pulse" {
	0% {
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-o-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@-ms-keyframes "pulse" {
	0% {
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-ms-transform: scale(1);
		transform: scale(1);
	}
}