---
---

@import 'colors';
@import 'utils';

/* DEFAULT STYLES */

html {
	min-height: 100%;
}

body, .row, #content {
	min-height: 96vh;
}

/* SPECIFIC STYLES */

/** Header : **/

header {
	text-align: center;
	height: 400px;
	display: flex;
	align-items: center;
	background-image: url('../img/header.png');
	
	@media(max-width: $mobile-max-width) {
		height: 200px;
	}
	
	h1 {
		margin: auto;
		font-family: 'Handlee', cursive;
		color: $simple-main-color;
		font-size: 6.15vw;
		transition: font-size 0.5s ease;
		
		@media(max-width: $mobile-max-width) {
			font-size: 12vw !important;
		}
	}
	h1:before {
		content: '';
		display: inline-block;
		vertical-align: -0.1em;
		height: 0.9em;
		width: 0.9em;
		background-size: 0.9em 0.9em;
		background-image: url('../img/logo.svg');
		margin-right: 0.2em;
	}
}

header:hover h1 {
	font-size: 7vw;
}

/** Navbar : **/

.navbar {
	border-radius: 0 !important;
}

#search-box {
	width: 100%;
	
	input[type="text"] {
		padding: 0 10px 0 10px;
		width: 100%;
	}
}

#content {
	position: relative;
	background-color: white;
	padding: 0 0 100px 0;
	
	@media(max-width: $mobile-max-width) {
		padding-bottom: 200px;
	}
}

/** Article : **/

article {
	h2 {
		padding-bottom: 4px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.label {
		font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		text-transform: uppercase;
	}
}

/** Footer : **/

article, footer {
	padding: 0 14px 0 14px;
}

footer {
	@include main-font;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px solid $footer-border-color;
	padding: 14px;
	background-color: $footer-background-color;
	color: $footer-text-color;
	
	p {
		margin-bottom: 0;
	}
}