---
---

@import 'colors';
@import 'utils';

/** GENERAL STYLES **/

/* Selection : */

::selection {
	background-color: $simple-selection-color;
}

::-moz-selection {
	background-color: $simple-selection-color;
}

/* Article : */

article {
	font-size: 1.1em;
	text-align: center;
	color: $simple-text-color;
}

section {
	padding: 50px 0 50px 0;
}

section:nth-of-type(2n) {
	background-color: $section-2n-color;
}

/* FontAwesome : */

.col-fa .fa {
	color: $col-fa-color;
	font-size: 6em;
	
	@media(max-width: $mobile-max-width) {
		margin-top: 40px;
	}
}

.col-xs-12 p:last-of-type {
	margin-bottom: 0;
}

figure .fa-5x {
	color: $figure-fa-color;
	margin-bottom: 20px;
}


@media(max-width: $mobile-max-width) {
	figure {
		margin-bottom: 60px
	}
}

/* NAVIGATION BAR */

.navbar {
	background-color: $main-color;
}

/* HEADER */

header {
	min-height: 400px;
	background-color: $main-color;
	
	div {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		color: white;
		
		p {
			font-size: 1.2em;
			color: $header-paragraph-color;
			margin-bottom: 30px;
		}
		
		.btn-outline-light:hover {
			color: $main-color;
		}
	}
	
	h1 {
		font-family: 'Handlee', cursive;
		font-size: 7vw;
		margin-bottom: 40px;
		
		&:before {
			@include logo-before();
		}
		
		@media(max-width: $mobile-max-width) {
			font-size: 12vw !important;
		}
	}
}

/* UNDER HEADER TRIANGLE RULE */

.triangle-rule {
	height: 12px;
	width: 100%;
	margin: 0;
	border: 0;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50 15, 100 100, 0 100" fill="' + $main-color + '"/></svg>');
	transform: rotate(180deg);
}

/* HEADINGS */

h2 {
	display: none;
}

h3 {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 50px;
	
	&:before, &:after {
		background-color: $h3-line-on-sides-color;
		content: '\a0';
		flex-grow: 1;
		height: 1px;
		position: relative;
		top: 0.6em;
	}

	&:before {
		margin-right: 15px;
	}

	&:after {
		margin-left: 15px;
	}
}

/* CONTENT STYLES */

.col-md-4 {
	margin-bottom: 20px;
}

.stand-out {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0;
}