---
---

/* GENERAL STYLES */

@import 'colors';
@import 'utils';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Handlee');

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 16px;
	color: $main-text-color;
}

nav {
	font-size: 14px !important;
}

article, .modal {
	@include main-font;
}

figure figcaption {
	margin-top: 14px;
}

/* CLEARFIX */

.clearfix {
	overflow: auto;
	zoom: 1;
}

/* IMAGES */

figure, img {
	max-width: 100%;
}

/* LINKS */

a:hover {
	text-decoration: none;
}

/* QUOTES */

q:before {
	content: '« ';
}

q:after {
	content: ' »';
}