---
---

@import 'colors';
@import 'utils';

@import url('https://fonts.googleapis.com/css?family=Handlee');

/* GENERAL STYLES */

body {
	font-size: 16px;
	color: $main-text-color;
}

.dropdown-header {
	text-transform: uppercase;
}

figure figcaption {
	margin-top: 14px;
}

.adsbygoogle {
	display: block;
	margin: auto;
}

/* CUSTOM SCROLLBARS FOR WEBKIT USERS */

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: $scrollbar-thumb-background;
	border: 0px none $scrollbar-thumb-border;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: $scrollbar-thumb-background-hover;
}

::-webkit-scrollbar-thumb:active {
	background-color: $scrollbar-thumb-background-active;
}

::-webkit-scrollbar-track {
	background-color: $scrollbar-track-background;
	border: 0px none $scrollbar-track-border;
	border-radius: 0px;
}

::-webkit-scrollbar-track:active {
	background-color: $scrollbar-track-background-active;
}

::-webkit-scrollbar-corner {
	background-color: $scrollbar-corner-background;
}

/* IMAGES */

figure, img {
	max-width: 100%;
}

/* LINKS */

a:hover {
	text-decoration: none;
}

@media(max-width: $tablets-max-width) {

	.lesson-item {
		white-space: normal;
	}
	
}

.lesson-item.current {
	font-weight: bold;
}

/* LISTS */

ul {
	list-style-type: none;
	padding-left: 16px;
	
	li:before {
		content: '—';
		margin-right: 10px;
	}
}

ul.no-style {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;

	li:before {
		content: '';
		margin-right: 0;
	}
}

/* QUOTES */

q:before {
	content: '« ';
}

q:after {
	content: ' »';
}