@import "breakpoints";

@mixin bubble($text, $borderColor, $backgroundColor) {
  $borderLeft: 8px;

  position: relative;
  display: block;
  padding: 20px 20px 20px (20 + $borderLeft);
  margin-bottom: 1rem;
  border-left: $borderLeft solid $borderColor;
  background-color: $backgroundColor;
  overflow-x: auto;
  page-break-inside: avoid;
  list-style-type: none;
  text-align: left;

  &::before {
    content: $text;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $borderColor;
    color: white;
    font-size: 0.6em;
    padding-right: $borderLeft;
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover::before {
    opacity: 1;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h4 {
    color: darken($borderColor, 6%);
    font-size: 1.25em;
    margin-bottom: 0.75rem;
  }

  ul {
    list-style-type: none;
    padding-left: 1rem;

    @include bubble_li();
  }

  > ul,
  > ol {
    &:last-child li:last-child {
      margin-bottom: 0;
    }
  }

  table {
    background-color: white;
  }

  pre {
    padding: 10px;
  }

  img {
    display: block;
    margin: 0.6rem auto 0.8rem auto;
    max-height: 200px;
    width: 90%;
    object-fit: contain;
  }

  @include bubble_li();
}

@mixin bubble_li() {
  > li {
    padding-left: 0 !important;

    &::before {
      content: '—';
      margin-right: 0.6rem;
    }
  }

  li {
    margin-bottom: 0.8rem;
    padding-left: 0.2rem;
  }
}
