<div class="row ml-0 mr-0">
    <div class="col-xl-2 col-lg-3 col-md-3 col-12 offset-xl-3 offset-lg-2 offset-md-1 mb-4 mb-md-0 d-flex align-items-center">
        {% if include.background_image %}
            <span class="header-image ml-auto mr-auto ml-md-0 mr-md-0" style="background-image: url('{{ include.image }}');"></span>
        {% else %}
            <img class="header-image ml-auto mr-auto ml-md-0 mr-md-0" src="{{ include.image }}" alt="{{ page.title }}">
        {% endif %}
    </div>
    <div class="col-xl-4 col-lg-5 col-md-7 col-12 d-flex align-items-center">
        <div class="w-100">
            {{ include.content }}
        </div>
    </div>
</div>
