---
layout: default
title: "Accueil"
permalink: "/"
animate_on_scroll: true
carousel: true
css:
  - "/assets/css/review.css"
  - "/assets/css/home.css"
js:
  - "/assets/js/review.js"
---

<section class="pb-5">
    {% capture featuresCards %}
        {% include_relative features_cards.html %}
    {% endcapture %}
    {% include _includes/components/cards/cards_row.html content=featuresCards sal="slide-up" %}
</section>

<section class="pt-5 pb-5" data-sal="slide-right">
    {% capture levels %}
        {% include_relative levels.html %}
    {% endcapture %}
    {% include _includes/components/cards/big_card.html content=levels blue=true %}
</section>

<section class="pt-5 pb-5">
    {% include_relative mobile.html %}
</section>

<section class="pt-5 pb-5">
    {% capture review %}
        {% include_relative review.html %}
    {% endcapture %}
    {% include _includes/components/cards/big_card.html content=review sal="zoom-out" %}
</section>
