---
layout: compress
---
{% capture linebreak %}
{% endcapture %}{% assign lesson = site.data.lessons[page.lesson] %}{% capture lessonContent %}{% include {{ lesson.path }} %}{% endcapture %}{% assign parts = lessonContent | split: "---" %}{% assign lessonContent = parts[2] %}{"id": "{{ lesson.id }}", "chapter": {{ lesson.chapter }}, "difficulty": {{ lesson.difficulty }}, "title": "{{ lesson.title }}", "annals": [{% for annal in lesson.annals %}"assets/pdf/annales/{{ annal }}/"{% unless forloop.last %},{% endunless %}{% endfor %}], "summary": "api/v1/summary/{{ lesson.id }}.json", "comments": "api/v1/comments/{{ lesson.id }}.json", "content": "{{ lessonContent | escape | replace: '\', '&#92;' | remove: "	" | replace: linebreak, " " }}"}