---
layout: "default"
adsense: true
---

<div class="row">
	<div class="col-sm-12 col-md-7 col-lg-7 ml-md-auto">
	
		<article>
			
			<h1>{{ page.title }}</h1>
			{% include lesson/header.html %}

			{{ content }}
			
			<ins class="adsbygoogle no-print" data-ad-client="ca-pub-7167241518798106" data-ad-slot="2776038870" data-ad-format="auto"></ins>
			
			<a id="back-to-top" href="#" class="btn btn-primary no-print" role="button" title="Cliquez pour retourner en haut de la page" data-toggle="tooltip" data-placement="left">
				<i class="fa fa-chevron-up" aria-hidden="true"></i>
			</a>

		</article>
		
		{% if page.annals %}
			{% include lesson/annals.html %}
		{% endif %}
		
		{% if page.comments %}
			{% include lesson/comments.html %}
		{% endif %}
		
		{% include lesson/direct_access.html %}
		
	</div>
	
	<div class="col-sm-12 col-md-3 col-lg-3 ml-md-auto d-none d-md-block">
		<nav id="nav-toc"></nav>
	</div>
</div>