---
layout: compress
adsense: true
---

<!DOCTYPE html>
<html lang="fr">
{% include head.html %}
	<body class="container-fluid">
	
		<div class="row">
			<div id="content">
			
				{% include simple/header.html %}
				<article>
					{{ content }}
					
					<ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-7167241518798106" data-ad-slot="9884163278"></ins>
				</article>
				{% include simple/footer.html %}
				
				{% include footer.html %}
			
			</div>
		</div>
		
	</body>
</html>