<nav id="page-navbar" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-navbar-content" aria-controls="page-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="page-navbar-content" class="collapse navbar-collapse row">
        <div class="col-12 d-lg-none d-block">
            <a class="logo" href="/">{{ site.title }}</a>
        </div>

        <ul class="navbar-nav col-xl-4 col-lg-6 col-12">
            {% include _includes/components/navbar/item.html title="Accueil" icon="home" href="/" path="pages/home/page.html" %}
            {% include _includes/components/navbar/item.html title="Liste des cours" icon="bookmark" href="/cours/" path="pages/indexes/levels/page.html" %}
            {% include _includes/components/navbar/item.html title="À propos" icon="graduation-cap" href="/a-propos/" path="pages/about/page.html" %}
        </ul>

        <div class="col-xl-4 d-xl-block d-none">
            <a class="logo" href="/">{{ site.title }}</a>
        </div>

        <ul class="navbar-nav col-xl-4 col-lg-6 col-12">
            <li class="nav-item dropdown ml-lg-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-lesson-access" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-tag" aria-hidden="true"></i> Accès direct à un cours
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0" aria-labelledby="navbar-lesson-access">
                    <form action="/recherche/" method="get">
                        <input type="search" class="form-control" name="keywords" placeholder="Chercher un cours..." data-list="Index des cours" data-autofirst="true"/>
                    </form>

                    {% include _includes/components/navbar/level_dropdown.html level='premiere' %}
                    {% include _includes/components/navbar/level_dropdown.html level='terminale' %}
                </div>
            </li>
        </ul>
    </div>
</nav>