<meta name="smartbanner:title" content="{{ site.title }}">
<meta name="smartbanner:author" content="Skyost">
<meta name="smartbanner:price" content="GRATUIT">
<meta name="smartbanner:price-suffix-apple" content=" - Sur l'App Store">
<meta name="smartbanner:price-suffix-google" content=" - Sur Google Play">
<meta name="smartbanner:icon-apple" content="/assets/img/logo.svg">
<meta name="smartbanner:icon-google" content="/assets/img/logo.svg">
<meta name="smartbanner:button" content="VOIR">
<meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/app/id1458503418">
<meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=fr.bacomathiques">
<meta name="smartbanner:enabled-platforms" content="android,ios">
<meta name="smartbanner:close-label" content="Fermer">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smartbanner.js@1.15.0/dist/smartbanner.min.css" integrity="sha256-yoYT3oXiNYEUtSIgRLi6RA1MkHxXRxAsxWD9e4/XGJc=" crossorigin="anonymous">