{% assign level = site.data.levels[include.level] %}
{% assign lessons_hashes = site.data.lessons[level.id] %}
<span id="dropdown-header-{{ level.id }}" class="dropdown-header" data-size="{{ lessons_hashes | size }}" data-level="{{ level.id }}"><i class="fa fa-book" aria-hidden="true"></i> Cours de {{ level.name }}</span>

{% for data in lessons_hashes %}
    {% assign dataLesson = data[1] %}
    <a class="dropdown-item lesson-item{% if dataLesson.path == page.path %} current{% endif %}" href="/cours/{{ site.data.levels[dataLesson.level].url }}/{{ dataLesson.url }}/" data-search="{{ dataLesson.title | downcase | replace: 'é', 'e' | replace: 'ô', 'o' }} ({{ level.name | downcase | replace: 'è', 'e' }})" data-level="{{ level.id }}">{{ dataLesson.title }}</a>
{% endfor %}